@import "variables.css";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600&family=Noto+Sans+KR:wght@400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  /* font-family: "Comfortaa", "Noto Sans KR", sans-serif; */
  font-family: "Neo둥근모", "neodgm";
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  border: 0;
  background-color: #00aaff;
  font-size: 15px;
  letter-spacing: -0.25pt;
  -webkit-padding-before: 3px;
  padding-block-start: 3px;
  border-radius: 4px;
  padding-left: 10px;
  outline: none;
  box-shadow: var(--box-shadow);
}

.btn-groups {
  display: flex;
  gap: 10px;
}
.btn-groups > button {
  width: 45%;
}

input:not([type="radio"], [type="date"]) {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  border: 0;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 15px;
  letter-spacing: -0.25pt;
  -webkit-padding-before: 3px;
  padding-block-start: 3px;
  border-radius: 4px;
  padding-left: 10px;
  outline: none;
  box-shadow: var(--box-shadow);
}

/* input::placeholder {
  color: aliceblue;
} */
header {
  margin: 10px 0;
}
section {
  max-width: 768px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

section > div {
  width: 100%;
}

.sub-tit {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}

.right {
  display: flex;
  flex-direction: column;
}
.right-top {
  position: relative;
  margin: 0 0 20px 0;
}

.right-bottom {
  position: relative;
}

.hidden {
  display: none;
}

.running {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  position: relative;
  margin: 10px 0 20px;
}
.running a {
  text-decoration: none;
  color: #fff;
}
.opening {
  width: 100vw;
  height: 100vh;
  background: var(--bg-bnd-pk);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  z-index: 2;
  animation: hideSplashScreen 0.4s 0.8s ease-in-out forwards;
}

.opening img {
  width: 300px;
}

.layout-box {
  display: flex;
  gap: 10px;
  position: relative;
  margin: 10px 0 20px;
}
.layout-box .layout-box__btn {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 25px 20px;
  color: aliceblue;
  border-radius: 12px;
  cursor: pointer;
}
.layout-box .layout-box__btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.layout-box a {
  text-decoration: none;
  color: #fff;
}

#submit {
  margin: 30px 0 50px;
  cursor: pointer;
}

label {
  margin-bottom: 20px;
}
ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
}

input[type="radio"] {
  display: inline-block;
}

#video-container img {
  width: 20%;
  display: block;
}

#photo-container img {
  width: 30%;
  display: block;
}
.result-card {
  background-image: url("../images/idcard/bb2f3f477022bd0c89df2318987dd7f5.jpg");
  height: 241px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
  margin-bottom: 20px;
  position: relative;
}

.result-video {
  background-image: url("../images/idcard/1b06d3ed17e94d2f824a017dcf715433.jpg");
  height: 241px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
  margin-bottom: 20px;
  position: relative;
}
.result-list li {
  position: absolute;
}
.result-list #fileResult div {
  position: absolute;
  width: 7vw;
  height: 9vw;
  border: 1px solid;
  overflow: hidden;
  top: 3vw;
  left: 1vw;
}
.result-list #nameResult,
.result-list #songResult,
.result-list #dateResult {
  position: absolute;
  right: 20px;
}

.result-list #nameResult {
  top: 14vw;
}

.result-list #songResult {
  top: 32vw;
}
.result-list #dateResult {
  top: 21vw;
  background: white;
}
.result-video > div > a > div {
  position: absolute;
  top: 1vw;
  left: 1vw;
  width: 13vw;
  height: 100%;
  background: red;
  border-radius: 40px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
}

.result-video p {
  position: absolute;
  bottom: -4vw;
}

#result-area {
  display: none;
}
.image-circle {
  border-radius: 50%;
}
.showing {
  display: block !important;
  margin: 20px 0 100px;
  width: 100%;
  position: relative;
}
.btn-groups {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.btn-groups > button {
  width: 50%;
  background: #fff;
  border: 1px solid #999;
}
canvas {
  width: 100%;
  z-index: 1;
  position: relative;
}
.finish-img {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
}
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (max-width: 1080px) {
  section {
    flex-direction: column;
    gap: 0;
  }
  section > div {
    margin-right: 0;
    width: 90vw;
  }
  .right {
    width: 100%;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
  }

  .left {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .layout-box .layout-box__btn {
    width: 30%;
    display: flex;
    justify-content: center;
  }

  .layout-box .layout-box__btn span {
    display: none;
  }

  /* .mobile {
    display: flex;
  } */
}

@media screen and (max-width: 786px) {
  .result-card {
    background-image: url("../images/idcard/bb2f3f477022bd0c89df2318987dd7f5.jpg");
    height: 241px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    margin-bottom: 20px;
    position: relative;
  }

  .result-video {
    background-image: url("../images/idcard/1b06d3ed17e94d2f824a017dcf715433.jpg");
    height: 241px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    margin-bottom: 20px;
    position: relative;
  }
  .result-list li {
    position: absolute;
  }
  .result-list #fileResult div {
    position: absolute;
    width: 32vw;
    height: 39vw;
    border: 1px solid;
    overflow: hidden;
    top: 13vw;
    left: 5vw;
  }
  .result-list #nameResult,
  .result-list #songResult,
  .result-list #dateResult {
    position: absolute;
    right: 20px;
  }

  .result-list #nameResult {
    top: 14vw;
  }

  .result-list #songResult {
    top: 32vw;
  }
  .result-list #dateResult {
    top: 21vw;
    background: white;
  }
  .result-video > div > a > div {
    position: absolute;
    top: 8vw;
    left: 5vw;
    width: 60vw;
    height: 45vw;
    background: red;
    border-radius: 40px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
  }

  .result-video p {
    position: absolute;
    bottom: -12vw;
  }
}
